*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Caption', sans-serif;
    letter-spacing: 0px;
    --hue: var(--hue-neutral);
    background-image: url(../images/starwarsmillenium.jpg);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: transparent;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.875);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

#triviaHeader {
    font-weight: 600;
    font-size: 22px;
    color: black;
    background-color:rgb(250, 213, 1);
}

h4 {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color:  rgb(15, 15, 15);
    position: relative;
}

h3 {
  font-weight: 400;
  font-size: 17px;
  font-weight: 550;
  text-align: center;
  color:  rgb(15, 15, 15);
  position: relative;
}

#start {
    background-color:rgb(250, 213, 1);
    color:  rgb(8, 8, 8);
    font-size: 21px;
    border: solid 2px yellow;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

#timeleft {
    background: transparent;
    color:  rgb(14, 13, 14);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.answerchoice {
    border: solid 2px rgb(243, 208, 8);
    border-radius: 5%;
	  width: 40%;
	  color:  black;
    text-align: center;
    margin: 10px auto;
    font-size: 18px;
    background-color:rgb(243, 208, 8);
    padding: 7px;
}

#answerblock {
  text-align: justify;
}

#questionblock {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color:black;
}

#reset {
    background-color:rgb(250, 213, 1);
    color:  black;
    font-size: 21px;
    border: solid 2px rgb(250, 213, 1);
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: -45px;
}

#reset {
  visibility: visible;
}


p {
  text-align: center;
  font-weight: 400;
  color:  black;
  font-size: 20px;
}

h2, h4 {
  margin-top: 25px;
  font-weight: 600;
}

.wrapper {
  margin: 10px auto;
  border: 1px solid #e2e1e1;
  height: 300px;
  width: 100%;
  text-align: center;
}

button {
  position: relative;
  margin: 13%;
}

/* Small devices (portrait phones, 576px and down)*/
@media (max-width: 575.98px) { 
  .container {
    height: 100%;
  }
  .wrapper {
    height: 550px;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
  .container {
    height: 100%;
  }
  .wrapper {
    height: 550px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .container {
    height: 100%;
  }
  .wrapper {
    height: 100%;
  }  
}